<!DOCTYPE html>
<!--[if lt IE 8]><html lang="fr" class="ie ie7 no-js"><![endif]-->
<!--[if IE 8]><html lang="fr" class="ie ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="fr" class="ie ie9 no-js"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{site.rootint}}_doc/css/doc.css">
    <link rel="stylesheet" href="{{site.rootint}}_doc/css/prism.css">
    <link rel="stylesheet" href="{{site.rootint}}css/main.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{site.rootint}}css/main-ie.css">
    <![endif]-->
    <script type="text/javascript" src="{{site.rootint}}js/lib/modernizr.custom.js"></script>
  </head>
  <body class="ui_body">
      {{> body }}



     <!--[if gt IE 8]><!-->
    <script type="text/javascript" src="{{site.rootint}}js/lib/jquery.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{site.rootint}}js/lib/ie/jquery.js"></script>
    <script type="text/javascript" src="{{site.rootint}}js/ie/scripts.js"></script>
    <![endif]-->

    <!-- doc js -->
    <script type="text/javascript" src="{{site.rootint}}_doc/js/prism.min.js"></script>
    <script type="text/javascript" src="{{site.rootint}}_doc/js/doc.js"></script>


    <script type="text/javascript" src="{{site.rootint}}js/lib/polyfiller.js"></script>
    <script type="text/javascript" src="{{site.rootint}}js/lib/jquery.selectBox.js"></script>
    <script type="text/javascript" src="{{site.rootint}}js/lib/iso/core.js"></script>
    <script type="text/javascript" src="{{site.rootint}}js/lib/iso/forms.js"></script>
  </body>
</html>
