<div class="checkbox">
	<input id="{{id}}" name="{{name}}" type="checkbox" {{#if required}}required{{/if}} value="{{val}}" {{#if disabled}} disabled{{/if}}><label for="{{id}}">{{{label}}} {{#if required}}<strong>*</strong>{{/if}}</label>
</div>