<div class="input-text">
	<label for="{{id}}">{{label}} {{#if required}}<strong>*</strong>{{/if}}</label>
	<input type="{{type}}" id="{{id}}" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} name="{{name}}" {{#if maxlength}}maxlength="{{maxlength}}"{{/if}} {{#if pattern}}pattern="{{pattern}}"{{/if}} value="" {{#if required}}required{{/if}} {{#if disabled}} disabled{{/if}}>
</div>